.notes {
  position: relative;

  &-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400 !important;
    margin: 0 !important;
  }

  &-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    max-height: 650px;
  }

  &-card {
    width: 350px;
    transition: opacity 0.3s ease;
    border-color: var(--gray-200);

    &-wrapper {
      position: relative;
      width: fit-content;
      border-radius: var(--border-radius-md);

      &_active {
        z-index: 5 !important;
      }

      &:hover {
        box-shadow: var(--default-shadow);
      }
    }

    & .ant-typography {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 11px;
      cursor: pointer;
      opacity: 0;
      color: var(--gray-400);
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }

    & .ant-card-head {
      border: none;
    }

    & .ant-input {
      position: relative;
      min-height: 200px;
      max-height: 330px;
      z-index: 1;
      padding: 0;
      border: none;
      box-shadow: none;
      background: inherit;
    }
  }

  ::-webkit-resizer {
    display: none;
  }
}


